Options -Indexes
<IfModule mod_rewrite.c>
RewriteEngine On
DirectoryIndex index.php index.html
</IfModule>
<IfModule mod_headers.c>
Header set X-Content-Type-Options "nosniff"
Header set Referrer-Policy "strict-origin-when-cross-origin"
</IfModule>
